p{
    margin: 40px;
    padding: 20px;
}

.paragrafo-padrao {
    background-color: #f5f5f5;
}

.paragrafo-destacado{
    background-color: #f0cce2;    
}

#produtos-estoque table{
    text-align: center;
           
}

#produtos-estoque th{
    background-color: #bb86fc ;
} 
#produtos-estoque td{
    background-color: #424250 ;
} 